<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Account</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <h1>New Account</h1>
    <form th:action="@{/accounts}" th:method="post">
        <div class="form-group">
            <label class="control-label">Name</label>
            <input class="form-control" type="text" name="name" />
        </div>
        <div class="form-group">
            <label class="control-label">Password</label>
            <input class="form-control" type="password" name="password" />
        </div>
        <!-- select single -->
        <div class="form-group">
            <label class="control-label" for="role">Role</label>
            <select class="form-control" id="role" name="role">
                <option value="admin">admin</option>
                <option value="teacher">teacher</option>
                <option value="TA">TA</option>
                <option value="student" selected="selected">student</option>
            </select>
        </div>
        <button class="btn btn-default" type="submit">Create</button>
    </form>
    <div class="pull-right">
        <a class="btn btn-link" href="/accounts">List</a>
    </div>
</div>
</body>
</html>
